body {
	background-color: #3F3F3F;
}
h1, h2 {
	color: #90CFC7;
	text-align: center;
}
p {
	color :lightgrey;
	font-family: Verdana;
	font-size: 80%;
	font-weight: bold;
	font-style: italic;
	text-align: center;
}
p::first-letter { 
  font-size: 150%;
  color: #90CF01;
}
li {
	color :lightgrey;
	font-family: Times New Roman;
	font-size: 105%;
	font-weight: bolder;
	font-style: oblique;
}
#names {
	color: lightgreen;
}
em {
	color: yellow; 
	font-family: Calibri;
}
a {
	color: red;
	text-decoration: none;
}
a:hover {
	color: blue;
	text-decoration: underline;
}